
services:
  db:
    image: postgres:17
    environment:
      POSTGRES_USER: adminSys2025
      POSTGRES_PASSWORD: Nacho1234
      POSTGRES_DB: gymbros_platform_db
    ports :
      - "5435:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - gymbros_platform_network

  pgadmin:
    image: dpage/pgadmin4
    container_name: gymbros_pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: ignasamo2@gmail.com
      PGADMIN_DEFAULT_PASSWORD: Nacho1234
    ports:
        - "5050:80"
    depends_on:
        - db
    networks:
      - gymbros_platform_network

networks:
  gymbros_platform_network:

volumes:
  db_data: